@import "tailwindcss";

@theme {
  --color-light: #f0eff2;
  --color-dark: #1f1f1f;
  --color-primary-red: #db0009;
  --color-primary-yellow: #ffbc0f;
}

:root {
  --light: #f0eff2;
  --dark: #1f1f1f;
  --primary-red: #db0009;
  --primary-yellow: #ffbc0f;
}

body {
  background: var(--light);
  color: var(--dark);
}
